/** @format */

h1 {
  text-align: center;
}

.suite--failure {
  color: #fff;
  background-color: #ff1717;
  border-color: #ff1717;
}

.suite--failure:focus,
.suite--failure:hover {
  color: #fff;
  background-color: #ed1515;
  border-color: #ed1515;
}

.suite--passed {
  color: #fff;
  background-color: #0cab37;
  border-color: #0cab37;
}

.suite--passed:focus,
.suite--passed:hover {
  color: #fff;
  background-color: #0b9c32;
  border-color: #0b9c32;
}

.test--failure,
.test--error {
  color: #fff;
  background-color: #e50000;
  border-color: #e50000;
  display: inline-block !important;
}

.test__message iframe {
  width: 100%;
  height: 600px;
}

.test--failure:focus,
.test--error:focus,
.test--failure:hover,
.test--error:hover {
  color: #fff;
  background-color: #cc0000;
  border-color: #cc0000;
}

.test--passed {
  color: #fff;
  background-color: #0dbd3d;
  border-color: #0dbd3d;
}

.test--passed:focus,
.test--passed:hover {
  color: #fff;
  background-color: #0ba635;
  border-color: #0ba635;
}

.test--skipped {
  color: #fff;
  background-color: #c3d6e3;
  border-color: #c3d6e3;
}

.test--skipped:focus,
.test--skipped:hover {
  color: #fff;
  background-color: #bdcfdb;
  border-color: #bdcfdb;
}

.properties__title {
  color: #fff;
  background-color: #b6b4ba;
  border-color: #b6b4ba;
}

.properties__title:focus,
.properties__title:hover {
  color: #fff;
  background-color: #a7a6ab;
  border-color: #a7a6ab;
}

.properties,
.test,
.option,
.suite__properties {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
}

.properties__list,
.test__messages,
.options__cta,
.test__message {
  margin-top: -10px;
  border: 1px solid #bbb;
  border-radius: 0 0 4px 4px;
  padding: 10px;
}

.properties__list th,
.properties__list td {
  padding-left: 10px;
}

.properties__title,
.test__name {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.test__name span {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.test__message--multiple {
  padding: 5px;
  border-radius: 4px;
  border: solid #bbb 1px;
  margin-bottom: 4px;
}

.test--passed,
.test--skipped {
  border-radius: 4px;
}

.suite__name {
  margin: 0;
  border-radius: 4px 4px 0 0;
  margin-bottom: 5px;
}

.suite__contents {
  margin: -10px 0 5px 0;
  border-radius: 0 0 4px 4px;
  border: 1px solid #bbb;
  padding: 5px;
  padding-top: 10px;
}

.flat {
  border-radius: 4px 4px 0 0;
}

.round {
  border-radius: 4px;
}

.label {
  margin-right: 10px;
}

.contracted,
.hidden,
.not_in_search,
.no_visible_tests {
  display: none;
}

.options_container {
  margin: 0 0.5em;
}

.container__suites {
  margin: 0 1em;
}

.container__suites,
.options {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 30px 30px 30px #1eaedb;
}

.options_container__toggle {
  margin: 0;
}

.options,
.option__container {
  border: 1px solid #bbb;
  border-radius: 0 0 4px 4px;
  padding: 5px;
}

.option {
  margin-bottom: 1em;
}

.option__title {
  margin-bottom: 0;
}

.search button {
  margin-bottom: 0;
  border-radius: 4px 4px 0 0;
}

.search input {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
}

.options__icon--colapsed {
  padding: 0;
}

.junit_info {
  text-align: center;
}
